<tr>
  <td><%= loan_application_counter + 1 %></td>
  <td><%= loan_application.business_name %></td>
  <td><%= loan_application.established_year %></td>
  <td><%= loan_application.account_provider %></td>
  <td><%= loan_application.amount %></td>
  <td><%= link_to "Get Balance Sheet", '#' %></td>
</tr>