<p style="color: green"><%= notice %></p>

<%= render @loan_application %>

<div>
  <%= link_to "Edit this loan application", edit_loan_application_path(@loan_application) %> |
  <%= link_to "Back to loan applications", loan_applications_path %>

  <%= button_to "Destroy this loan application", @loan_application, method: :delete %>
</div>
