<p style="color: green"><%= notice %></p>
<p><%= link_to "Back to loan applications", loan_applications_path %></p>

<p><b>Business Name: </b><%= @loan_application.business_name %></p>
<p><b>Established Year: </b><%= @loan_application.established_year %></p>
<p><b>Account Provider: </b><%= @loan_application.account_provider %></p>
<p><b>Loan Amount: </b><%= @loan_application.amount %></p>

<br />
<div class="row">
  <h2 class="col">Balance sheet</h2>
  <div class="col align-self-end">
    <%= button_to "Submit Application", submit_application_loan_application_path(@loan_application), class: "btn btn-success float-end" %>
  </div>
</div>
<br />

<table class="table">
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Profit/Loss</th>
    <th>Assets Value</th>
  </tr>

  <% @balance_sheet.each do |record| %>
    <tr>
      <td><%= record["year"] %></td>
      <td><%= record["month"] %></td>
      <td class="<%= record['profitOrLoss'] >= 0 ? 'text-success' : 'text-danger' %>">
        <strong><%= record['profitOrLoss'] %></strong>
      </td>
      <td><%= record["assetsValue"] %></td>
    </tr>
  <% end %>
</table>