<p style="color: green"><%= notice %></p>
<p><%= link_to "Back to loan applications", loan_applications_path %></p>

<p><b>Business Name: </b><%= @loan_application.business_name %></p>
<p><b>Established Year: </b><%= @loan_application.established_year %></p>
<p><b>Account Provider: </b><%= @loan_application.account_provider %></p>
<p><b>Loan Amount: </b><%= @loan_application.amount %></p>

<h2>Balance sheet</h2>
<table class="table">
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Profit/Loss</th>
    <th>Assets Value</th>
  </tr>

  <% @balance_sheet.each do |sheet| %>
    <tr>
      <td><%= sheet[:year] %></td>
      <td><%= sheet[:month] %></td>
      <td class="<%= sheet[:profitOrLoss] >= 0 ? 'text-success' : 'text-danger' %>">
        <strong><%= sheet[:profitOrLoss] %></strong>
      </td>
      <td><%= sheet[:assetsValue] %></td>
    </tr>
  <% end %>
</table>